@charset "utf-8";

html {
  font-size: 100%;
  font-family: "Noto Sans JP";
}
img {
  max-width: 100%;
}
body {
  max-width: 100%;
  margin: auto;
  color: #3d3d3d;
  background-color: #fcfcfc;
}

/*------------------------------------------
共通部分 マウスオーバー時にボタンを白くする
------------------------------------------*/
.apply:hover {
  filter: opacity(80%);
}
.sub:hover {
  filter: opacity(80%);
}

/*------------------------------------------
firstview
------------------------------------------*/
.firstview {
  background-image: url(../img/firstview-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  text-align: center;
  padding: 20px 0;
}

.campaign-ctr { /* キャンペーン概要 */
  position: relative;
}
.firstview-content {
  width: 90%;
}
.s-firstview-content {
  display: none;
}

.noniki-img { /* noniki 画像 */
  position: absolute;
  width: 19%;
  top: 40%;
  left: 12%;
}

/* キャンペーン 申し込みボタン */

.application-button {
  width: 33%;
  margin: 40px auto 0 auto;
}
.s-application-button {
  display: none;
}

.subscription-ctr { /* 定期コース概要 */
  margin: 70px 0 50px 0;
  position: relative;
}
.subscription-content {
  width: 70%;
}
.s-subscription-content {
  display: none;
}

.subscription-button { /* 定期コース申し込みボタン */
  width: 39%;
  position: absolute;
  top: 58%;
  left: 30%;
}
.s-subscription-button {
  display: none;
}

/*------------------------------------------
concern
------------------------------------------*/
.concern-ctr {
  background-image: url(../img/concern-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 70px 0;
}
.concern-content {
  display: inline-block;
  width: 83%;
}
.s-concern-content {
  display: none;
}

/*------------------------------------------
description
------------------------------------------*/
.description-ctr {
  background-image: url(../img/description-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 50px 0 183px 0;
}

.description-content {
  display: inline-block;
  width: 80%;
}
.s-description-content {
  display: none;
}

/*------------------------------------------
center
------------------------------------------*/
.center-ctr {
  background-image: url(../img/center-background.png);
  background-repeat: no-repeat;
  background-size: 230%;
  background-position: center;
  padding-bottom: 50px;
  text-align: center;
}

.center-satisfaction { /* 満足度 */
  display: inline-block;
  width: 45%;
}
.s-center-satisfaction {
  display: none;
}

.center-review { /* レビュー */
  display: block;
  width: 75%;
  margin: 30px auto 50px auto;
}
.s-center-review {
  display: none;
}

/* キャンペーン概要 */

.center-campaign {
  display: inline-block;
  width: 50%;
}
.s-center-campaign {
  display: none;
}

.center-mainapply-ctr { /* キャンペーン 申し込みボタン */
  text-align: center;
}
.application-button2 {
  display: block;
  width: 40%;
  margin: 50px auto;
}
.s-application-button2 {
  display: none;
}

.center-subscription-ctr { /* 定期コース概要 */
  position: relative;
  margin: 50px 0;
}
.subscription-content2 {
  display: block;
  margin: auto;
  width: 70%;
}
.s-subscription-content2 {
  display: none;
}
 
.subscription-button2 { /* 定期コース申し込みボタン */
  display: block;
  width: 39%;
  margin: 0 auto;
  position: absolute;
  top: 57%;
  left: 30%;
}
.s-subscription-button2 {
  display: none;
}

/*------------------------------------------
question
------------------------------------------*/
.question-ctr {
  background-color: #9EC7C9;
  background-repeat: no-repeat;
  background-size: 230%;
  background-position: center;
  text-align: center;
  padding: 50px 0 70px 0;
}
.question-title {
  font-size: 2rem;
  font-weight: bold;
}

.question-content {
  width: 67%;
}
.s-question-content {
  display: none;
}

/*------------------------------------------
last-action
------------------------------------------*/
.lastaction-ctr {
  background-image: url(../img/lastaction-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 40px 0 100px 0;
  position: relative;
}

/* キャンペーン概要 */

.lastaction-content {
  width: 40%;
  margin: 100px auto 0 185px;
}
.s-lastaction-content {
  display: none;
}

.noniki-img2 { /* noniki 画像 */
  position: absolute;
  width: 23%;
  top: 10%;
  left: 15%;
}

.lastaction-mainapply-ctr { /* キャンペーン 申し込みボタン */
  text-align: center;
}
.application-button3 {
  display: inline-block;
  width: 40%;
  margin-top: 20px;
  margin-left: 170px;
}
.s-application-button3 {
  display: none;
}

.lastaction-subscription-ctr { /* 定期コース概要 */
  position: relative;
  padding-top: 70px;
}
.subscription-content3 {
  display: block;
  margin: auto;
  width: 70%;
}
.s-subscription-content3 {
  display: none;
}

/* 定期コース 申し込みボタン */

.subscription-button3 {
  display: block;
  width: 39%;
  position: absolute;
  margin: 0 auto;
  top: 79%;
  left: 30%;
}
.s-subscription-button3 {
  display: none;
}

/*------------------------------------------
footer
------------------------------------------*/
footer {
  height: 80px;
  text-align: center;
}
hr {
  border: none;
  border: 1px solid #adadad;
}
.copy {
  margin-top: 25px;
  font-size: 13px;
  color: #6d6d6d;
}


/*====================================================
SP
====================================================*/

@media screen and (max-width: 599px) {

  body {
    background-color: #fcfcfc;
  }
  img {
    width: 100%;
  }
  .noniki-img, .noniki-img2 {
    display: none;
  }

  /*----------------------------------------
  firstview
  ----------------------------------------*/
  .firstview {
    background-image: url(../img/s-firstview-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    text-align: center;
  }
  
  .campaign-ctr { /* キャンペーン概要 */
    position: relative;
  }
  .firstview-content {
    display: none;
  }
  .s-firstview-content {
    display: inline-block;
    margin-left: -55px;
  }

/* キャンペーン 申し込みボタン */
  .application-button {
    display: none;
  }
  .s-application-button {
    display: inline-block;
    margin-top: 30px;
    width: 90%;
  }

  .subscription-ctr { /* 定期コース概要 */
    position: relative;
    margin: 20px 0 15px 0;
  }
  .subscription-content {
    display: none;
  }
  .s-subscription-content {
    display: inline-block;
    width: 96%;
  }

  .subscription-button { /* 定期コース 申し込みボタン */
    display: none;
  }
  .s-subscription-button {
    display: inline-block;
    width: 90%;
    position: absolute;
    top: 62%;
    left: 6%;
  }

  /*----------------------------------------
  concern
  ----------------------------------------*/
  
  .concern-content {
    display: none;
  }
  .s-concern-content {
    display: inline-block;
    width: 95%;
  }

  /*----------------------------------------
  description
  ----------------------------------------*/
  .description-ctr {
    background-image: url(../img/s-description-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 43px 0 113px 0;
  }
    .description-content {
      display: none;
    }
    .s-description-content {
      display: block;
      width: 100%;
      margin: 0 -12px 0 12px;
    }

  /*----------------------------------------
  center
  ----------------------------------------*/
  .center-ctr {
    background-image: url(../img/s-center-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 80px 0 0 0;
  }

  .center-satisfaction { /* 満足度 */
    display: none;
  }
  .s-center-satisfaction {
    display: inline-block;
    width: 90%;
    margin-top: -40px;
    margin-bottom: 20px;
  }
  
  .center-review { /* 愛用者の声 */
    display: none;
  }
  .s-center-review {
    display: inline-block;
    width: 95%;
    margin-bottom: 20px;
  }

/* キャンペーン概要 */
  .center-campaign {
    display: none;
  }
  .s-center-campaign {
    display: inline-block;
    width: 95%;
  }

 /* キャンペーン 申し込みボタン */
  .application-button2 {
    display: none;
  }
  .s-application-button2 {
    display: block;
    margin: 20px auto 0 auto;
    width: 90%;
  }

  .center-subscription-ctr{ /* 定期コース概要 */
    position: relative;
    margin: 25px 0 35px 0;
  }
  .subscription-content2 {
    display: none;
  }
  .s-subscription-content2 {
    display: block;
    margin: auto;
    width: 95%;
  }

  .subscription-button2 { /* 定期コース 申し込みボタン */
    display: none;
  }
  .s-subscription-button2 {
    display: inline-block;
    width: 90%;
    position: absolute;
    top: 62%;
    left: 6%;
  }

  /*----------------------------------------
  question
  ----------------------------------------*/
  .question-ctr {
    padding: 10px 0 40px 0;
  }
  .question-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .question-content {
    display: none;
  }
  .s-question-content {
    display: block;
    width: 95%;
    margin: auto;
  }

  /*----------------------------------------
  lastaction
  -----------------------------------------*/
  .lastaction-ctr {
    background-image: url(../img/s-lastaction-background.png);
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    padding: 20px 0 15px;
  }
  
/* キャンペーン概要 */
  .lastaction-content {
    display: none;
  }
  .s-lastaction-content {
    display: block;
    width: 95%;
    margin-left: 15px;
  }
  
/* キャンペーン 申し込みボタン */
  .application-button3 {
    display: none;
  }
  .s-application-button3 {
    display: block;
    margin: 11px auto 0 auto;
    width: 90%;
  }
  
  .lastaction-subscription-ctr { /* 定期コース概要 */
    position: relative;
    padding-top: 20px
  }
  .subscription-content3 {
    display: none;
  }
  .s-subscription-content3 {
    display: inline-block;
  }
  
  .subscription-button3 { /* 定期コース 申し込みボタン */
    display: none;
  }
  .s-subscription-button3 {
    display: inline-block;
    width: 92%;
    position: absolute;
    top: 83%;
    left: 5%;
  }

  /*----------------------------------------
  footer
  ----------------------------------------*/
  .copy {
    font-size: 12px;
  }

}

@media screen and (max-width: 1240px) {
  
}